/* Restablecer márgenes y padding predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para el cuerpo de la página */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #ccc, #000000, #ff3b3f);
  background-size: 300% 300%;
  background-attachment: fixed;
  animation: moveBackground 50s linear infinite;
}

/* Estilo para el body cuando es "Registrar" */
body.registrar {
  background-color: var(--color-background-); /* Use variable for background color */
  background-image: url('../recursos/fondogreen.png'); /* Ruta a la imagen de fondo */
  background-repeat: repeat; /* Repetir la imagen */
  background-size: 250px 250px; /* Tamaño de la imagen */
}

@keyframes moveBackground {
  0% {
    background-position: 0% 0%;
  }
  100% {
    background-position: 100% 0%;
  }
}

/* Contenedor de registro */
.registro-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  animation: zoomIn 0.5s ease-in-out;
  width: 100%;
}

/* Contenedor de la caja de registro */
.registro-box {
  background: rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 450px;
  height: auto;
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

/* Títulos de la caja de registro */
.registro-box h1 {
  margin-bottom: 20px;
  color: white;
}

/* Estilo para los inputs */
.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.input-group input {
  width: 100%; 
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  display: block;
  box-sizing: border-box;
}

/* Estilo para la visibilidad de contraseña */
.password-group {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 48px;
  font-size: 20px;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
  color: var(--color-buttons);
}

/* Botón de registro */
.register-buttons {
  width: 100%;
  background-color: var(--color-button-confirmation);
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
  margin-top: 20px;
  font-weight: bold;
}

.register-buttons:hover {
  background-color: var(--color-button-confirmation-hover);
}

/* Estilo para el enlace de iniciar sesión */
.reegister-link {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  color: white;
  display: inline-block;  /* Cambio a inline-block para ajustarse al contenedor */
  width: 100%; 
}

.reegister-link span {
  color: #ffffff;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.reegister-link span:hover {
  color: var(--color-buttons);
}

/* Animación de zoom-in */
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

.google-registering-button {
  display: flex;
  align-items: center;
  justify-content: center; /* Centra el contenido horizontalmente */
  background-color: #eeeeee; /* Color de fondo de Google */
  color: var(--color-button-confirmation);
  padding: 10px;
  border: none;
  font-weight: bold;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
  margin-top: 20px;
}

.google-registering-button:hover {
  background-color: #ffffff;
}

.google-icon {
  width: 30px;
  height: 30px;
  margin-right: 10px; /* Ajuste para mantener espacio entre el icono y el texto */
}
