/* notificaciones.css */
.notificaciones-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro con opacidad */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.notificaciones-modal-content {
  background-color: var(--color-container); /* Updated color */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  width: 80%; /* Ajusta el ancho según lo necesites */
  height: 80vh; /* Altura fija del modal */
  overflow: hidden;
  display: flex;
  flex-direction: row; /* Distribuir en fila */
  position: relative; /* Para posicionar el botón de cerrar */
  color: var(--color-text); /* Updated color */
}

.notificaciones-cerrar-overlay-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 10px;
  border-radius: 50%;
  background-color: var(--color-buttons);
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 18px;
}

.notificaciones-cerrar-overlay-btn:hover {
  background-color: var(--color-buttons-hover); /* Efecto hover rojo */
}

.notificaciones-lista-pedidos {
  flex: 0 0 33%; /* Ocupa el 33% del espacio */
  padding: 10px;
  overflow-y: auto;
  border-right: 2px solid #f0f0f0; /* Separador entre las dos secciones */
  margin-right: 10px; /* Espacio entre las dos secciones */
}

.notificaciones-pedido-detalles {
  flex: 1; /* Ocupa el resto del espacio */
  padding: 20px;
  overflow-y: auto;
  background-color: var(--color-container); /* Updated color */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  position: relative; /* Para centrar el loader */
  color: var(--color-text); /* Updated color */
}

.notificaciones-lista-pedidos ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.notificaciones-lista-pedidos li {
  margin-bottom: 12px;
  background-color: var(--color-container); /* Updated color */
  padding: 15px;
  border-radius: 8px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: transform 0.3s, box-shadow 0.3s, background-color 0.5s ease;
  word-wrap: break-word;  /* Para evitar que el texto largo desborde */
  color: var(--color-text); /* Updated color */
}

.notificaciones-lista-pedidos li div {
  display: flex;
  flex-direction: column; /* Asegura que el nombre y apellido estén en líneas separadas */
}

.notificaciones-lista-pedidos li .notificaciones-label {
  font-weight: bold;
  margin-left: 10px;
  text-transform: uppercase;
  font-size: 12px;
}

/* Fondo animado para COMPRA */
.notificaciones-lista-pedidos li.notificaciones-compra {
  background-color: var(--color-button-confirmation); /* Azul */
  animation: notificaciones-animacion-fondo-compra 3s infinite alternate;
}

/* Fondo animado para RENOVACIÓN */
.notificaciones-lista-pedidos li.notificaciones-renovacion {
  background-color: var(--color-button-confirmation); /* Verde */
  animation: notificaciones-animacion-fondo-renovacion 3s infinite alternate;
}

/* Animación de fondo para COMPRA */
@keyframes notificaciones-animacion-fondo-compra {
  0% {
    background-color: #1e90ff; /* Azul */
  }
  50% {
    background-color: #87cefa; /* Azul claro */
  }
  100% {
    background-color: #1e90ff; /* Azul */
  }
}

/* Animación de fondo para RENOVACIÓN */
@keyframes notificaciones-animacion-fondo-renovacion {
  0% {
    background-color: #28a745;
  }
  50% {
    background-color: #6dbf72; /* Verde más claro */
  }
  100% {
    background-color: #28a745;
  }
}

/* Efecto de elevación al pasar el cursor */
.notificaciones-lista-pedidos li:hover {
  transform: translateY(-5px);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

.notificaciones-ver-pedido-btn {
  background-color: var(--color-buttons); /* Updated color */
  color: white;
  padding: 8px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 14px;
  transition: background-color 0.3s ease;
}

.notificaciones-ver-pedido-btn:hover {
  background-color: var(--color-buttons-hover); /* Updated color */
}

.notificaciones-pedido-detalle-modal {
  background: var(--color-container); /* Updated color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--color-text); /* Updated color */
}

.notificaciones-non-editable {
  pointer-events: none; /* Evita clics o selección */
  user-select: none; /* Previene la selección de texto */
  background-color: var(--color-button-negation); /* Updated color */
  color: #555; /* Color de texto desactivado */
  border: 1px solid #ddd; /* Estilo de borde deshabilitado */
}

.notificaciones-detail-input {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: var(--color-background-); /* Updated color */
  color: var(--color-text);
}

.notificaciones-activar-btn,
.notificaciones-cerrar-btn,
.notificaciones-cancelar-btn {
  margin-top: 10px;
  padding: 10px 15px;
  background-color: var(--color-buttons); /* Color rojo */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: center;
}

.notificaciones-activar-btn:hover,
.notificaciones-cerrar-btn:hover,
.notificaciones-cancelar-btn:hover {
  background-color: var(--color-buttons-hover); /* Efecto hover */
}

.notificaciones-activar-btn i,
.notificaciones-cerrar-btn i,
.notificaciones-cancelar-btn i {
  margin-right: 8px; /* Espacio entre el icono y el texto */
}

.notificaciones-toast-message {
  position: fixed;
  top: 20px;
  right: 20px;
  background-color: var(--color-container); /* Updated color */
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
  z-index: 1100; /* Asegúrate de que esté por encima del modal */
}

.notificaciones-loader {
  display: none; /* Ocultar el loader */
}

.notificaciones-botones-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.notificaciones-detail-inputxnon-editable {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.notificaciones-detail-inputxnon-editable {
  background-color: #2f2e2e;
}
.notificaciones-recycle-btn {
  background-color: var(--color-buttons); /* Updated color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  padding: 8px;
  margin-left: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s ease;
  height: 35px; /* Ajusta este valor para que coincida con el alto del input de fecha final */
  margin-top: -10px;
}

.notificaciones-recycle-btn:hover {
  background-color: var(--color-buttons-hover); /* Updated color */
}

.notificaciones-detail-input.highlight {
  border-color: #ffeb3b; /* Color de borde amarillo */
  box-shadow: 0 0 5px #ffeb3b; /* Sombra amarilla */
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

/* Para móviles */
@media (max-width: 600px) {
  .notificaciones-modal-content {
    width: 90%; /* Modificar el ancho en pantallas pequeñas */
    flex-direction: column; /* Cambiar a columna en pantallas pequeñas */
  }
  .notificaciones-lista-pedidos,
  .notificaciones-pedido-detalles {
    flex: none; /* Eliminar el flex para que ocupen el 100% */
    width: 100%; /* Ocupan el 100% del ancho */
    margin-right: 0; /* Eliminar el margen derecho */
    margin-bottom: 10px; /* Añadir margen inferior */
  }
  .notificaciones-lista-pedidos li {
    font-size: 14px; /* Reducir el tamaño de la fuente en pantallas pequeñas */
    padding: 12px; /* Reducir el padding */
  }
}
