/* Archivo: RegistroCliente.css */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.form-container {
  background-color: #fff;
  max-height: 100vh; /* Ajusta el alto máximo para que la barra de desplazamiento se active si es necesario */
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 400px;
  width: 100%;
  position: fixed; /* Fija el formulario para que esté siempre visible al desplazarse */
  left: 0; /* Posiciona el formulario en el lado izquierdo */
  top: 50%; /* Centra verticalmente el formulario */
  transform: translateY(-50%); /* Ajuste adicional para centrarlo correctamente */
  text-align: center;
  overflow-y: auto; /* Habilita la barra de desplazamiento vertical */
}


h2 {
  color: black;
  margin-bottom: 20px;
  font-family: 'Arial', sans-serif;
}

.h2titleblanco {
  color: white; /* Cambia el color del texto a blanco */
  font-size: 24px; /* Tamaño de fuente ajustable */
  font-weight: bold; /* Texto en negrita */
  text-align: center; /* Centra el texto */
  margin: 20px 0; /* Espaciado superior e inferior */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Sombra para resaltar el texto */
}


.form-input {
  margin-bottom: 15px;
  text-align: left;
}

.form-input label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: #333;
  font-family: 'Arial', sans-serif;
}

.form-input input,
.form-input select {
  width: 100%;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-family: 'Arial', sans-serif;
}

.form-button {
  background-color: #d31616;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Arial', sans-serif;
  margin: 10px 5px;
  transition: background-color 0.3s;
}

.form-button:hover {
  background-color: #ff0000;
}



