/* DatosSpotify.css */
@import url('../../../recursos/colors-dark.css');

.overlay-datos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--color-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: var(--color-container);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.modal-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--color-text);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Estilos de los campos del formulario */
.form-group {
  display: flex;
  flex-direction: column;
}

.form-label {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--color-text);
}

.form-input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: var(--color-background-);
  position: relative;
}

.form-input:focus {
  border-color: var(--color-button-confirmation);
  background-color: var(--color-background-hover);
}

.password-container {
  position: relative;
}

.password-container input {
  padding-right: 40px;
}

.spotify-password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
}

/* Estilos del enlace */
.info-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.info-text {
  font-size: 14px;
  color: var(--color-text);
  flex: 1;
}

.enlace-clicable {
  color: var(--color-button-confirmation);
  text-decoration: none;
  font-weight: bold;
}

.enlace-clicable:hover {
  text-decoration: underline;
}

.proveedorescopy-botones {
  background-color: var(--color-button-confirmation);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.proveedorescopy-botones:hover {
  background-color: var(--color-button-confirmation-hover);
}

.copsy-icon {
  margin-right: 5px;
  font-size: 20px; /* Aumentar el tamaño del icono */
}

/* Estilos de los botones de acción */
.button-group {
  display: flex;
  flex-wrap: wrap; /* Permitir que los botones se envuelvan */
  gap: 10px;
  width: 100%;
}

.save-button,
.close-button,
.copiar-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  width: calc(50% - 10px); /* Ajustar el ancho para que quepan dos botones por fila */
}

.save-button {
  background-color: var(--color-button-confirmation);
  color: white;
}

.save-button:hover {
  background-color: var(--color-button-confirmation-hover);
}

.saves-button {
  background-color: var(--color-button-negation);
  color: white;
}

.saves-button:hover {
  background-color: var(--color-button-negation-hover);
}

.copiar-button {
  background-color: var(--color-buttons);
  color: white;
}

.copiar-button:hover {
  background-color: var(--color-buttons-hover);
}