@import url('../recursos/colors-dark.css');

.admin-home-container {
  padding: 20px;
  max-width: 1200px;
  margin: 0 auto;
}

.admin-home-container h1 {
  text-align: center;
  color: var(--color-text); /* Updated color */
  font-size: 2.5rem;
  margin-bottom: 30px;
}

.admin-button-groups {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  margin-top: 20px;
}

.admin-home-button {
  background-color: var(--color-buttons);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: block;
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  color: white;
  border: none;
  cursor: pointer;
  text-align: left;
}

.admin-home-button:hover {
  background-color: var(--color-buttons-hover);
  transform: translateY(-2px);
}

.admin-home-button:active {
  transform: translateY(0);
  background-color: var(--color-buttons-hover);
}

.admin-logout-button {
  margin-top: 20px;
  background-color: var(--color-button-negation);
  color: white;
  padding: 10px 20px;
  border: none;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  display: block;
  margin-left: auto;
  margin-right: auto;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  background-color: var(--color-button-negation);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

.admin-logout-button:hover {
  background-color: var(--color-button-negation-hover);
  transform: translateY(-2px);
}

.admin-notification-button {
  position: relative;
  background-color: var(--color-buttons);
  color: white;
  padding: 10px 20px;
  font-size: 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.admin-notification-button:hover {
  background-color: var(--color-buttons-hover);
}

.admin-notification-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--color-button-negation);
  color: white;
  font-size: 12px;
  padding: 5px 10px;
  border-radius: 50%;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.admin-toast-container {
  font-size: 1rem;
}

.admin-component {
  background: var(--color-container);
  border-radius: 10px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-top: 20px;
}

.dashboard-base {
  position: relative; /* Ensure the button is positioned relative to the dashboard base */
  background-color: var(--color-background-);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 80%;
  max-width: 1200px;
  margin: 0 auto; /* Center the dashboard-base */
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.dashboard-top {
  background-color: var(--color-container);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: var(--color-container);
  border-bottom: 1px solid #dee2e6;
}

.dashboard-top .welcome-message {
  flex: 1;
  text-align: left;
  color: var(--color-text); /* Updated color */
  font-size: 2rem;
}

.dashboard-main {
  display: flex;
  flex: 1;
}

.dashboard-left {
  width: 150px;
  background-color: var(--color-container);
  padding: 10px;
  border-right: 1px solid #dee2e6;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.dashboard-right {
  background-color: var(--color-container);
  flex: 1;
  padding: 10px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.actualizar-button-container {
  position: absolute;
  top: 20px;
  right: 20px;
  display: flex;
  align-items: center;
}

.loader-container {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.loader {
  width: 50px;
  height: 50px;
  border: 4px solid #f3f3f3;
  border-top: 4px solid var(--color-buttons);
  border-radius: 50%;
  transition: transform 0.3s ease;
}

.loader-container.updating .loader {
  animation: spin-loader 0.5s linear infinite; /* Change the animation name */
}

@keyframes spin-loader { /* Define a new keyframes for the loader */
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.actualizar-button {
  background-color: var(--color-buttons);
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  font-size: 0.8rem;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.actualizar-button.updating {
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.actualizar-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.theme-toggle-icon {
  font-size: 24px;
  cursor: pointer;
  margin-left: 10px; /* Add some space between the loader and the theme toggle icon */
  color: #f39c12; /* Default sun icon color */
  transition: transform 0.3s ease;
}

.theme-toggle-icon:hover {
  transform: scale(1.1);
}

.theme-toggle-icon:active {
  transform: scale(0.9);
}

/* Additional styles for the moon icon */
.theme-toggle-icon.fa-moon {
  color: #f1c40f; /* Moon icon color */
}

.trail {
  width: 10px;
  height: 10px;
  background-color: #007bff;
  border-radius: 50%;
  margin: 0 2px;
  animation: trail 1s infinite ease-in-out;
}

.trail:nth-child(1) {
  animation-delay: -0.32s;
}

.trail:nth-child(2) {
  animation-delay: -0.16s;
}

@keyframes trail {
  0%, 80%, 100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

.notification-bell-container {
  position: relative;
  display: inline-block;
  margin-right: 10px;
  width: 50px; /* Match the loader width */
  height: 50px; /* Match the loader height */
  display: flex;
  align-items: center;
}

.notification-bell {
  font-size: 24px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
  cursor: pointer;
  position: relative;
  color: var(--color-buttons);
}

.notification-bell:hover {
  transform: scale(1.1);
}

.notification-bell:active {
  transform: scale(0.9);
}

.notification-count {
  position: absolute;
  top: -10px;
  right: -10px;
  background-color: var(--color-button-negation);
  color: white;
  border-radius: 50%;
  padding: 4px 8px;
  font-size: 14px;
  font-weight: bold;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: var(--color-button-negation);
  color: white;
  border-radius: 50%;
  padding: 2px 5px;
  font-size: 12px;
}

@keyframes bell-ring {
  0% { transform: rotate(0); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(-15deg); }
  75% { transform: rotate(15deg); }
  100% { transform: rotate(0); }
}

.notification-bell.ringing {
  animation: bell-ring 0.5s ease-in-out;
}

.animated-button-container {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.animated-button {
  background-color: var(--color-buttons);
  color: #fff;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.animated-button:hover {
  background-color: var(--color-buttons-hover);
  transform: translateY(-2px);
}

.animated-button:active {
  transform: translateY(0);
  background-color: var(--color-buttons-hover);
}

.sidebar {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 60px;
  background-color: var(--color-buttons);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  transition: width 0.3s ease;
}

.sidebar.open {
  width: 200px;
}

.sidebar-icon {
  font-size: 24px;
  color: white;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.sidebar-icon:hover {
  transform: scale(1.1);
}

.sidebar-buttons {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sidebar-button {
  background-color: var(--color-buttons);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 5px 0;
  width: 80%;
}

.sidebar-button:hover {
  background-color: var(--color-buttons-hover);
  transform: translateY(-2px);
}

.sidebar-button:active {
  transform: translateY(0);
  background-color: var(--color-buttons-hover);
}

.divider {
  border: 0;
  height: 1px;
  background: #ccc;
  margin: 20px 0;
}

.service-icon:hover, .exit-icon:hover {
  transform: scale(1.1);
}

.service-icon:active, .exit-icon:active {
  transform: scale(0.9);
}

.service-buttons {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

.service-button {
  background-color: var(--color-buttons);
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.2s ease;
  margin: 5px 0;
}

.service-button:hover {
  background-color: var(--color-buttons-hover);
  transform: translateY(-2px);
}

.service-button:active {
  transform: translateY(0);
  background-color: var(--color-buttons-hover);
}

.divider-vertical {
  border-left: 1px solid #ccc;
  height: calc(100% - 120px); /* Adjust the height to stay within the dashboard-base */
  position: absolute;
  left: 60px; /* Adjust the position as needed */
  top: 120px; /* Adjust the position as needed */
}

.mostrar-contenido {
  display: flex;
  justify-content: flex-start;
  margin-left: 70px; /* Adjust the position to the right */
  margin-top: 10px;
}

.icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-icon-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.service-icon-container:hover .service-text {
  display: block;
}

.service-text {
  display: none;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #007bff;
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: 5px;
  white-space: nowrap;
  font-size: 0.9rem;
}

.service-icon, .exit-icon {
  font-size: 4rem;
  color: var(--color-buttons);
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  margin-top: 20px;
  background-color: #f0f0f0; /* Ensure the icon always has a background color */
  border-radius: 50%; /* Ensure the background is rounded */
  padding: 10px;
}

.service-icon.active {
  color: #fff;
  background-color: var(--color-buttons); /* Change background color to yellow when active */
}

.exit-icon {
  color: var(--color-button-negation);
}

.service-icon:hover, .exit-icon:hover {
  transform: scale(1.1);
}

.service-icon:active, .exit-icon:active {
  transform: scale(0.9);
}

.finance-icon {
  font-size: 4rem;
  color: var(--color-buttons);
  cursor: pointer;
  transition: transform 0.3s ease, color 0.3s ease, background-color 0.3s ease;
  margin-top: 20px;
  background-color: #f0f0f0; /* Ensure the icon always has a background color */
  border-radius: 50%; /* Ensure the background is rounded */
  padding: 10px;
}

.finance-icon.active {
  color: #fff;
  background-color: var(--color-buttons); /* Change background color to yellow when active */
}

.finance-icon:hover {
  transform: scale(1.1);
}

.finance-icon:active {
  transform: scale(0.9);
}

.icon-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
  justify-items: center;
  margin-top: 20px;
}

.icon-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.icon-item-cupos {
  color: var(--color-text); /* Updated color */
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.icon-item:hover {
  transform: scale(1.1);
}
.icon-item-cupos:hover {
  transform: scale(1.1);
}

.grid-icon {
  font-size: 50px; /* Set icon size to 50x50 */
  color: var(--color-buttons);
  margin-bottom: 10px;
}
.grid-icon-cupos {
  font-size: 50px; /* Set icon size to 50x50 */
  color: var(--color-buttons);
  margin-bottom: 1px;
  padding-top: 5px; /* Añade un pequeño relleno superior */
  
}

.icon-item span {
  font-size: 0.9rem;
  color: var(--color-text); /* Updated color */
  text-align: center;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.spinning-logo {
  width: 300px;
  height: 300px;
  animation: spin-logo 5s linear infinite; /* Change the animation name */
}

@keyframes spin-logo { /* Define a new keyframes for the logo */
  0% {
    transform: rotateY(0deg);
  }
  100% {
    transform: rotateY(360deg);
  }
}

@media screen and (max-width: 768px) {
  .admin-home-container h1 {
    font-size: 2rem;
  }

  .admin-home-button {
    padding: 10px 15px;
    font-size: 0.9rem;
  }

  .admin-logout-button {
    font-size: 0.9rem;
    padding: 10px 15px;
  }
}

