@import '../../recursos/colors-dark.css';

.passwordmodal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-overlay);
  display: flex;
  justify-content: center;
  align-items: center;
}

.passwordmodal-ajua {
  background: var(--color-container);
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  max-width: 90%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  color: var(--color-text);
}

.passwordclient-list {
  max-height: 200px;
  overflow-y: auto;
  margin: 10px 0;
}

.passwordclient-item {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.passwordclient-item input[type="checkbox"] {
  margin-right: 10px;
  transform: scale(1.2); /* Make the checkbox larger */
}

.passwordclient-item span {
  flex-grow: 1;
  margin-left: 10px;
}

.passwordclient-item.selected {
  background-color: var(--color-container-hover); /* Highlight selected client */
}

.passwordclient-item:hover {
  background-color: var(--color-container-hover); /* Highlight on hover */
}

button {
  margin-top: 10px;
  background-color: var(--color-buttons);
  color: var(--color-text);
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: var(--color-buttons-hover);
}

input[type="text"] {
  width: 100%; /* Ocupa todo el ancho */
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="checkbox"] {
  margin-right: 10px;
}