/* src/recursos/MensajesSiNo.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro y opaco */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.mensaje-container {
  background: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.encabezado-user {
  color: black; /* Cambia el color del texto del encabezado a negro */
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font: bold;
}

.no-button {
  background-color: rgb(5, 126, 50);
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font: bold;
}

.yes-button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.no-button:hover {
  background-color: rgb(8, 197, 74);
}

.yes-button:hover {
  background-color: darkred;
}


.cerrabutton {
  background-color: red; /* Fondo rojo */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
}

.cerrabutton:hover {
  background-color: darkred; /* Fondo más oscuro al pasar el cursor */
}

ul {
  list-style-type: none; /* Elimina las viñetas */
  padding-left: 0; /* Elimina el margen izquierdo */
}
