/* src/recursos/MensajesSiNo.css */
@import url('./colors-dark.css');

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.7); /* Fondo oscuro y opaco */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

.mensaje-container {
  background: var(--color-container);
  color: var(--color-text);
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 600px;
}

.encabezado-user {
  color: var(--color-text); /* Cambia el color del texto del encabezado a negro */
}

.button-group {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  font: bold;
  gap: 10px; /* Add space between buttons */
}

.no-button, .yes-button {
  flex: 1; /* Ensure buttons have the same size */
  background-color: var(--color-button-confirmation);
  color: var(--color-text);
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  font: bold;
}

.yes-button {
  background-color: var(--color-button-negation);
}

.no-button:hover {
  background-color: var(--color-button-confirmation-hover);
}

.yes-button:hover {
  background-color: var(--color-button-negation-hover);
}

.cerrabutton {
  background-color: var(--color-button-negation); /* Fondo rojo */
  color: var(--color-text); /* Texto blanco */
  border: none; /* Sin borde */
  padding: 10px 20px; /* Espaciado interno */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  font-size: 16px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
}

.cerrabutton:hover {
  background-color: var(--color-button-negation-hover); /* Fondo más oscuro al pasar el cursor */
}

ul {
  list-style-type: none; /* Elimina las viñetas */
  padding-left: 0; /* Elimina el margen izquierdo */
  color: var(--color-text);
}
