/* Restablecer márgenes y padding predeterminados */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Estilo para el cuerpo de la página */
body, html {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(135deg, #ccc, #000000, #ff3b3f);
  background-size: 300% 300%;
  background-attachment: fixed;
  animation: gradientAnimation 10s ease infinite;
}

.login-container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  animation: zoomIn 0.5s ease-in-out;
  width: 100%; /* Asegúrate que el contenedor ocupe todo el ancho */
}

/* Contenedor de inicio de sesión */
.login-xbox {
  background: rgba(255, 255, 255, 0.2);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
  width: 100%;
  width: 450px; /* Dimensiones específicas para pantallas grandes */
  height: 410px; /* Ajuste de altura específica */
  max-width: 450px; /* Ajuste al tamaño máximo en pantallas grandes */
  min-width: 390px; /* Asegura que no se reduzca más allá de este tamaño */
  height: 410px; /* Ajuste de altura específica */
  text-align: center;
  position: relative;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 768px) {
  .login-xbox {
    width: 390px;
    height: 410px;
    padding: 20px;
    margin: 0 auto; /* Centrado */
  }
}




.login-xbox h1 {
  margin-bottom: 20px;
  color: white;
}

/* Estilo para los inputs */
.input-group {
  margin-bottom: 20px;
  text-align: left;
}

.input-group label {
  display: block;
  font-weight: bold;
  margin-bottom: 5px;
  color: white;
}

.input-group input {
  width: 90%; /* Ajusta el ancho al 90% del contenedor */
  max-width: 90%; /* No excede el contenedor */
  margin: 0 auto; /* Centrado dentro del contenedor */
  padding: 12px;
  border-radius: 5px;
  border: none;
  font-size: 1rem;
  display: block; /* Asegura que el ancho sea respetado */
  box-sizing: border-box;
}

/* Estilo para la visibilidad de contraseña */
.password-group {
  position: relative;
}

.password-toggle {
  position: absolute;
  top: 45px;
  font-size: 20px;
  right: 5%;
  transform: translateY(-50%);
  cursor: pointer;
}

/* Botón de inicio de sesión */
.login-buttons {
  width: 90%; /* Ajusta el ancho al 90% del contenedor */
  max-width: 90%; /* No excede el contenedor */
  margin: 0 auto; /* Centrado dentro del contenedor */
  display: block;
  background-color: #ed1b24;
  color: white;
  border: none;
  padding: 12px 20px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1.1rem;
  transition: background-color 0.3s;
  margin-top: 20px;
}

.login-buttons:hover {
  background-color: #ff3b3f;
}

/* Animación de fondo */
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* Animación de zoom-in */
@keyframes zoomIn {
  from {
    transform: scale(0.5);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

/* Estilo para el enlace de registro */
.register-link {
  margin-top: 20px;
  text-align: center;
  font-size: 14px;
  color: #ffffff;
}

.register-link span {
  color: #ed1b24;
  text-decoration: underline;
  cursor: pointer;
  font-weight: bold;
}

.register-link span:hover {
  color: #f3666d;
}
