.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: flex-end;
}

.modal-content {
  background: white;
  padding: 20px;
  border-radius: 10px 0 0 10px;
  width: 70%;
  height: 100%;
  display: flex;
}



.search-container {
  width: 50%;
  padding-right: 20px;
  border-right: 1px solid #ccc;
  height: 100%;
  overflow-y: auto; /* Barra de desplazamiento vertical para la sección de búsqueda */
}

.details-panel-container {
  width: 50%;
  padding-left: 20px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto; /* Barra de desplazamiento vertical para el panel de detalles */
}

.details-panel {
  max-width: 90%; /* Para evitar que el contenido se desborde horizontalmente */
  text-align: center; /* Alineación del texto */
  margin-top: 20px;
  border-top: 1px solid #ccc;
  padding-top: 20px;
}

.search-controls {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.search-select,
.search-button {
  padding: 10px;
  font-size: 16px;
}

.search-results {
  margin-top: 20px;
}

.search-result-item {
  padding: 10px;
  border: 1px solid #784e4e;
  border-radius: 5px;
  margin-bottom: 10px;
}

.details-panel.show {
  display: block;
}

.save-button {
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
