/* src/WebAdmin/containerPlatform.css */

/* Estilo para cada contenedor de plataforma */
.con-container-platform {
    width: 250px;
    background-color: #aeacac; /* Color de fondo blanco */
    border: 1px solid #ddd; /* Borde gris claro */
    border-radius: 8px; /* Bordes redondeados */
    padding: 20px; /* Espaciado interno */
    margin: 10px 0; /* Margen superior e inferior */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
    margin: 10px auto 10px auto; /* Margen superior, inferior y centrado horizontal */
    color: var(--color-background-);
  }
  
  /* Título de la plataforma */
  .con-container-platforms h2 {
    font-size: 1.5rem; /* Tamaño de fuente */
    color: var(--color-text); /* Color del texto */
    margin: 0; /* Sin margen */
  }
  

  /* src/WebAdmin/containerPlatform.css */

/* Estilo para cada item del grupo */
.con-container-platform-grupo-content {
    margin-top: 10px;
  }
  
  .con-container-platform-grupo-item {
    margin: 5px 0;
    color: #555; /* Color del texto */
  }
  

  /* src/WebAdmin/containerPlatform.css */

/* Estilo para el botón de adquirir servicio */
/* Contenedor principal de los elementos */
.con-container-platform-available-services {
  display: flex;
  flex-direction: column; /* Para mantener los elementos en una columna */
  align-items: center; /* Centra los elementos horizontalmente */
  margin-top: 20px; /* Margen superior */
}

/* Estilo para cada contenedor de plataforma */
.con-container-platform-service { 
  background-color: #aeacac; /* Color de fondo gris claro */
  border: 1px solid #ddd; /* Borde gris claro */
  height: auto;
  width: 250px;
  position: relative;
  border-radius: 8px; /* Bordes redondeados */
  padding: 20px; /* Espaciado interno */
  margin: 10px auto 10px auto; /* Margen superior, inferior y centrado horizontal */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Sombra suave */
  display: block;
  margin-bottom: 10px; /* Margen inferior */
}


/* Título de la plataforma */
.con-container-platform-service h2 {
    font-size: 1.5rem; /* Tamaño de fuente */
    color: var(--color-text); /* Color del texto */
    margin: 0; /* Sin margen */
}
.con-container-platform-service button {
  width: 100%; /* Hace que los botones ocupen todo el ancho del contenedor */
  padding: 10px; /* Aumenta el espacio interno para que los botones sean más grandes */
  margin: 5px 0; /* Añade un espacio entre los botones */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
}

/* Estilo para cada item del grupo */
.con-container-platform-service .con-grupo-content-service{ 
    margin-top: 10px;
}

.con-container-platform-service .con-grupo-item-service {
    margin: 5px 0;
    color: #555; /* Color del texto */
}


/* Botón de Más Información */
.con-container-platform-masinfo {
  background-color: var(--color-buttons); /* Rojo oscuro */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

.con-container-platform-masinfo:hover {
  background-color: var(--color-buttons-hover); /* Rojo más oscuro en hover */
  transform: scale(1.05); /* Efecto de zoom al hacer hover */
}

.con-container-platform-masinfo:focus {
  outline: none; /* Elimina el borde de enfoque predeterminado */
}

/* Botón de Comprar */
.con-container-platform-buy-button {
  background-color: var(--color-button-confirmation); /* Verde neón */
  color: white;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s, transform 0.2s;
}

.con-container-platform-buy-button:hover {
  background-color: var(--color-button-confirmation-hover); /* Verde más brillante en hover */
  transform: scale(1.05); /* Efecto de zoom al hacer hover */
}

.con-container-platform-buy-button:focus {
  outline: none; /* Elimina el borde de enfoque predeterminado */
}

.con-container-platform-welcome-message {
  color: #ffffff; /* Color del texto (gris oscuro) */
  margin: 10px 0; /* Margen superior e inferior para separar del contenido */
}

/*////////////////////////////////*/
/* Estilos adicionales para DISNEY+ si se requiere */
/* Estilo adicional para el título y el precio cuando el servicio sea DISNEY+ */
.con-container-platform-service.disney-plus h2,
.con-container-platform-service.disney-plus .precio-text {
  color: white; /* Establece el color blanco para el título y el precio */
}

/* Estilos específicos para el título en servicios NETFLIX TV y NETFLIX SIN TV */
.con-container-platform-service.netflix-title {
  color: red; /* Color rojo para el título */
}
/* Estilo para el fondo de CRUNCHYROLL */
.con-container-platform-service.crunchyroll-title {
  background-color: #ff6308; /* Fondo naranja */
  color: white; /* Texto y título blanco */
}
/* Estilo para el fondo de YOUTUBE PREMIUM y YOUTUBE + GOOGLE */
.con-container-platform-service.youtube-premium-title,
.con-container-platform-service.youtube-google-title {
  background-color: #ff08088a; /* Fondo rojo */
  color: white; /* Texto blanco */
}

.con-container-platform-button-group {
  display: flex;
  flex-direction: column; /* Organiza los botones en una columna */
  gap: 10px; /* Espaciado entre los botones */
}

.con-container-platform-button-group .con-home-button {
  width: 100%; /* Asegura que los botones ocupen el ancho completo del contenedor */
  padding: 10px; /* Añade espacio interno para mejor apariencia */
  border: none; /* Sin bordes visibles */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  background-color: #ed1b24; /* Color de fondo del botón */
  color: #333; /* Color del texto */
  font-size: 1rem; /* Tamaño del texto */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.con-container-platform-button-group .con-home-button:hover {
  background-color: #ff3b3f; /* Color de fondo en hover */
  transform: scale(1.05); /* Efecto de zoom */
}

.con-container-platform-button-group .con-home-button:focus {
  outline: none; /* Sin borde al enfocar */
}

.con-container-platform-home-button {
  width: 100%; /* Hace que los botones ocupen todo el ancho del contenedor */
  padding: 10px; /* Aumenta el espacio interno para que los botones sean más grandes */
  margin: 5px 0; /* Añade un espacio entre los botones */
  border: none; /* Sin borde */
  border-radius: 5px; /* Bordes redondeados */
  cursor: pointer;
  background-color: var(--color-buttons); /* Color de fondo del botón */
  color: var(--color-text); /* Color del texto */
  font-size: 1rem; /* Tamaño del texto */
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.con-container-platform-home-button:hover {
  background-color: var(--color-buttons-hover); /* Color de fondo en hover */
  transform: scale(1.05); /* Efecto de zoom */
}

.con-container-platform-home-button:focus {
  outline: none; /* Sin borde al enfocar */
}

.con-container-platform-delete-button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-buttons);
  color: var(--color-text);
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.con-container-platform-delete-button:hover {
  background-color: var(--color-buttons-hover); /* Color de fondo en hover */
  transform: scale(1.05); /* Efecto de zoom */
}

.con-container-platform-delete-button:focus {
  outline: none; /* Sin borde al enfocar */
}

.con-masinfo {
  background-color: var(--color-buttons); /* Rojo oscuro */
  color: var(--color-text); /* Texto blanco */
  padding: 15px 20px;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 10px rgba(255, 255, 255, 0.1);
  position: relative;
  overflow: hidden;
}

.con-masinfo::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 300%;
  height: 300%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.2) 0%, rgba(0, 0, 0, 0) 50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.con-masinfo:hover {
  background-color: var(--color-buttons-hover); /* Rojo más oscuro en hover */
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(255, 255, 255, 0.2);
}

.con-masinfo:hover::before {
  opacity: 1;
}


.con-buy-button {
  background-color: var(--color-button-confirmation); /* Verde neón */
  color: var(--color-text); /* Texto blanco */
  padding: 12px 24px;
  border-radius: 8px;
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.3s;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  box-shadow: 0 4px 10px rgba(30, 215, 96, 0.3);
  position: relative;
  overflow: hidden;
  border: none;
  outline: none;
}

.con-buy-button::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  width: 250%;
  height: 250%;
  background: radial-gradient(circle, rgba(255, 255, 255, 0.3) 0%, rgba(0, 0, 0, 0) 50%);
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.con-buy-button:hover {
  background-color: var(--color-button-confirmation-hover);
  transform: scale(1.05);
  box-shadow: 0 6px 15px rgba(30, 215, 96, 0.5);
}

.con-buy-button:hover::before {
  opacity: 1;
}

.con-buy-button:active {
  transform: scale(0.95);
}

.container-platform {
  width: 250px;
  background-color: #aeacac;
  border: 1px solid #ddd;
  border-radius: 8px;
  padding: 20px;
  margin: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  margin: 10px auto 10px auto;
  color: var(--color-background-);
}
.container-platform-home-button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: 2px solid #fff; /* Borde blanco agregado */
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-buttons);
  color: var(--color-text);
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
  
}
.container-platform-home-button:hover {
  background-color: var(--color-buttons-hover); /* Color de fondo en hover */
  transform: scale(1.05); /* Efecto de zoom */
}
.container-platform-home-button:focus {
  outline: none; /* Sin borde al enfocar */
}

.container-platform-delete-button {
  width: 100%;
  padding: 10px;
  margin: 5px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  background-color: var(--color-buttons);
  color: var(--color-text);
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.container-platform-delete-button:hover {
  background-color: var(--color-buttons-hover); /* Color de fondo en hover */
  transform: scale(1.05); /* Efecto de zoom */
}

.container-platform-delete-button:focus {
  outline: none; /* Sin borde al enfocar */
}