.finance-container {
  padding: 20px;
  background-color: var(--color-container); /* Change background color */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: var(--color-text); /* Use color-text for text color */
}

.finance-container h2 {
  margin-bottom: 20px;
}

.finance-container button {
  padding: 10px 20px;
  background-color: var(--color-buttons);
  color: var(--color-text);
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.finance-container button:hover {
  background-color: var(--color-buttons-hover);
}

.finance-analiticas, .finance-movimientos {
  padding: 15px;
  background-color: var(--color-container);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.finance-analiticas h3, .finance-movimientos h3 {
  margin-bottom: 10px;
  color: var(--color-text);
}

.finance-layout {
  display: grid;
  grid-template-areas:
    "tarjetero movimientos"
    "analiticas movimientos";
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
  padding: 20px;
  height: 100%; /* Make the layout occupy the full height */
  width: 100%; /* Make the layout occupy the full width */
}

.finance-analiticas {
  grid-area: analiticas;
  padding: 15px;
  background-color: var(--color-container);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 450px; /* Set the width to 450px */
}

.finance-movimientos {
  grid-area: movimientos;
  padding: 15px;
  background-color: var(--color-container);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 450px; /* Set the width to 450px */
  height: 100%; /* Make the movimientos section occupy the full height */
}
