/* Pruebas.css */

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7); /* Dark overlay */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000; /* Ensure overlay is on top */
}

.pruebas-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 500px;
  text-align: center;
}

.close-button {
  background-color: #007BFF;
  height: 50px;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 20px;}

.client-ids {
  margin-top: 20px;
}

.client-ids-list {
  list-style-type: none;
  padding: 0;
  max-height: 200px; /* Adjust as needed */
  overflow-y: auto;
  border: 1px solid #ddd;
  padding: 10px;
}

.client-ids-list li {
  background-color: #f0f0f0;
  padding: 10px;
  margin: 5px 0;
  border-radius: 5px;
}
