.BuscarCupo-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.BuscarCupo-buscarclientes, .BuscarCupo-modal-wrapper {
  background: var(--color-container); /* Updated color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-buscarclientes {
  background: var(--color-container); /* Updated color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-modal-wrapper {
  display: flex;
  justify-content: flex-end; /* Alinea el contenido modal a la derecha */
  width: 100%;
}

.BuscarCupo-form-group {
  margin-bottom: 15px;
}

.BuscarCupo-form-group label {
  display: block;
  margin-bottom: 5px;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-form-group input,
.BuscarCupo-form-group select {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  font-size: 16px; /* Asegura que el tamaño de la fuente sea consistente */
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-form-group select {
  height: 40px; /* Ajusta la altura del select para igualarla con el input */
}

.BuscarCupo-buttons {
  display: flex;
  justify-content: space-between;
}

.BuscarCupo-buttons button {
  background-color: var(--color-buttons); /* Updated color */
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  flex: 1;
  margin-right: 10px;
  transition: background-color 0.3s ease;
}

.BuscarCupo-buttons button:last-child {
  margin-right: 0;
}

.BuscarCupo-buttons button:hover {
  background-color: var(--color-buttons-hover); /* Updated color */
}

.BuscarCupo-cliente-item {
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  display: flex;
  align-items: center;
}

.BuscarCupo-cliente-item input {
  margin-right: 10px;
}

.BuscarCupo-modal-content1 {
  width: 100%;
  border-radius: 8px;
  max-width: 600px;
  margin-left: 20%;
  background: var(--color-container); /* Updated color */
  overflow-y: auto; /* Barra de desplazamiento vertical */
  max-height: 80vh; /* Ajusta según sea necesario */
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-close-btn {
  background-color: var(--color-button-negation); /* Updated color */
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 18px;
  margin: 10px;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: background-color 0.3s ease;
}

.BuscarCupo-close-btn:hover {
  background-color: var(--color-button-negation-hover); /* Updated color */
}

.BuscarCupo-informacionclientes .BuscarCupo-modal-content1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  width: 100%;
  margin-left: 150px;
  background: var(--color-container); /* Updated color */
  overflow-y: auto; /* Barra de desplazamiento vertical */
  position: relative;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-informacionclientes .BuscarCupo-form-group {
  margin-bottom: 15px;
}

.BuscarCupo-informacionclientes label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-informacionclientes input[type="text"] {
  width: 100%;
  padding: 8px;
  box-sizing: border-box;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-informacionclientes button {
  background-color: var(--color-buttons); /* Updated color */
  color: white;
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.BuscarCupo-informacionclientes button:hover {
  background-color: var(--color-buttons-hover); /* Updated color */
}

.BuscarCupo-resultadoclientes .BuscarCupo-modal-content1 {
  display: flex;
  flex-direction: column;
  padding: 20px;
  max-height: 80vh; /* Ajusta según sea necesario */
  max-width: 310px;
  overflow-y: auto; /* Para permitir el desplazamiento si hay muchos resultados */
  width: 100%;
  background: var(--color-container); /* Updated color */
  position: relative;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-resultadoclientes h3 {
  margin-top: 0;
}

.BuscarCupo-resultadoclientes ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.BuscarCupo-resultadoclientes li {
  margin-bottom: 10px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  align-items: center;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-resultadoclientes input[type="checkbox"] {
  margin-right: 10px;
}

.BuscarCupo-resultadoclientes button {
  background-color: var(--color-buttons); /* Updated color */
  color: white;
  margin-top: 10px;
  padding: 10px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.BuscarCupo-resultadoclientes button:hover {
  background-color: var(--color-buttons-hover); /* Updated color */
}

.BuscarCupo-boton-cerrar {
  background: var(--color-button-negation); /* Updated color */
  border: none;
  cursor: pointer;
  color: white;
  font-size: 18px;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 10px;
  right: 10px;
  transition: background-color 0.3s ease;
}

.BuscarCupo-boton-cerrar:hover {
  background-color: var(--color-button-negation-hover); /* Updated color */
}

.BuscarCupo-custom-checkbox {
  appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid var(--color-buttons); /* Updated color */
  border-radius: 4px;
  outline: none;
  cursor: pointer;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

.BuscarCupo-custom-checkbox:checked::before {
  content: '✔';
  color: white;
  font-size: 14px;
  position: absolute;
}

.BuscarCupo-custom-checkbox:checked {
  background-color: var(--color-buttons); /* Updated color */
  border-color: var(--color-buttons); /* Updated color */
}

.BuscarCupo-info-container {
  background: var(--color-container); /* Updated color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  margin-top: 20px;
  max-width: 400px;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-info-container h3 {
  margin-top: 0;
}

.BuscarCupo-info-container p {
  margin: 10px 0;
}

.BuscarCupo-info-container button {
  background-color: var(--color-buttons); /* Updated color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.BuscarCupo-info-container button:hover {
  background-color: var(--color-buttons-hover); /* Updated color */
}

.BuscarCupo-info-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.BuscarCupo-info-modal .BuscarCupo-modal-content1 {
  background: var(--color-container); /* Updated color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 400px;
  width: 100%;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-info-modal h3 {
  margin-top: 0;
}

.BuscarCupo-info-modal p {
  margin: 10px 0;
}

.BuscarCupo-info-modal button {
  background-color: var(--color-buttons); /* Updated color */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
  transition: background-color 0.3s ease;
}

.BuscarCupo-info-modal button:hover {
  background-color: var(--color-buttons-hover); /* Updated color */
}

.copy-icon {
  margin-left: 10px;
  cursor: pointer;
  color: white; /* Set icon color to white */
  background-color: #ed1b24; /* Set background color to red */
  padding: 5px;
  border-radius: 4px;
  transition: background-color 0.3s ease;
}

.copy-icon:hover {
  background-color: #b3121a;
}

.BuscarCupo-info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}

.BuscarCupo-info-modal .BuscarCupo-informacionclientes {
  background: var(--color-container); /* Updated color */
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  position: relative;
  max-width: 400px;
  width: 100%;
  color: var(--color-text); /* Updated color */
}

.BuscarCupo-info-modal .BuscarCupo-info-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top: 10px;
}