/* DatosSpotify.css */

@import url('../../../recursos/colors-dark.css');

.clientesoverlay-datos {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1001;
}

.clientesmodal {
  background-color: var(--color-container);
  padding: 20px;
  border-radius: 10px;
  width: 90%;
  max-width: 500px;
  max-height: 80%;
  overflow-y: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

.clientesmodals-title {
  text-align: center;
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--color-text);
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Estilos de los campos del formulario */
.clientesform-group {
  display: flex;
  flex-direction: column;
}

.clientesform-label {
  font-size: 16px;
  margin-bottom: 5px;
  color: var(--color-text);
}

.clientesform-input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  background-color: var(--color-background-);
  position: relative;
}

.clientesform-input:focus {
  border-color: var(--color-button-confirmation);
  background-color: var(--color-background-hover);
}

.clientespassword-container {
  position: relative;
}

.clientespassword-container input {
  padding-right: 40px;
}

.clientesspotify-password-toggle {
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  font-size: 18px;
  cursor: pointer;
}

/* Estilos del enlace */
.clientesinfo-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.clientesinfo-text {
  font-size: 14px;
  color: var(--color-text);
  flex: 1;
}

.clientesenlace-clicable {
  color: var(--color-button-confirmation);
  text-decoration: none;
  font-weight: bold;
}

.clientesenlace-clicable:hover {
  text-decoration: underline;
}

.clientescopy-botones {
  background-color: var(--color-button-confirmation);
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.clientescopy-botones:hover {
  background-color: var(--color-button-confirmation-hover);
}

.clientescopy-icon {
  margin-right: 5px;
}

/* Estilos de los botones de acción */
.clientesbutton-group {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  width: 100%;
}

.clientessave-button,
.clientesclose-button {
  padding: 10px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  outline: none;
  width: 48%;
}

.clientessave-button {
  background-color: var(--color-button-confirmation);
  color: white;
}

.clientessave-button:hover {
  background-color: var(--color-button-confirmation-hover);
}

.clientesclose-button {
  background-color: var(--color-buttons);
  color: #333;
}

.clientesclose-button:hover {
  background-color: var(--color-buttons-hover);
}

.clientescopy-button {
  margin-top: 10px;
}

.clientesbutton-group {
  flex-direction: row;
}
